.action-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;

    p-button {
        &:hover {
            opacity: 0.8;
        }
    }
}

p-table {
    ::ng-deep {
        .p-datatable .p-datatable-tbody > tr {
            &:hover {
                background-color: #f8f9fa;
            }
        }

        .p-input-icon-left > input {
            padding-left: 2.5rem;
        }

        .p-input-icon-left > .p-input-icon {
            left: 0.75rem;
        }
    }
}
