@use 'mixins' as *;

.layout-sidebar {
    position: fixed;
    width: 20rem;
    height: calc(100vh - 8rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 6rem;
    left: 2rem;
    transition:
        transform var(--layout-section-transition-duration),
        left var(--layout-section-transition-duration),
        width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--surface-overlay);
    border-radius: var(--content-border-radius);
    padding: 0.5rem 1.5rem;
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .user-panel {
        display: flex;
        align-items: center;
        padding: 0.75rem;
        margin-bottom: 0.75rem;
        cursor: pointer;
        outline: none;
        background-color: var(--primary-color);
        border-radius: 0.75rem;
        color: var(--primary-contrast-color);
        transition: background-color var(--element-transition-duration), padding 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            opacity: 0.9;
        }

        .user-panel-avatar {
            width: 3rem;
            height: 3rem;
            border-radius: 50rem;
            transform-origin: 0 1.5rem;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .user-panel-info {
            flex: 1;
            margin-left: 0.75rem;
            opacity: 1;
            overflow: hidden;
            white-space: nowrap;
            transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), width 0.3s cubic-bezier(0.4, 0, 0.2, 1), margin 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            color: var(--primary-contrast-color);

            h4,
            h5,
            p {
                color: var(--primary-contrast-color);
                margin: 0.25rem 0;
            }
        }
    }

    .layout-root-menuitem {
        > .layout-menuitem-root-text {
            font-size: 0.857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--text-color);
            margin: 0.75rem 0;
            overflow: hidden;
            transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), height 0.3s cubic-bezier(0.4, 0, 0.2, 1), margin 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        > a {
            display: none;
        }
    }

    a {
        user-select: none;

        &.active-menuitem {
            > .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    li.active-menuitem {
        > a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: var(--text-color);
            cursor: pointer;
            padding: 0.75rem 1rem;
            border-radius: var(--content-border-radius);
            transition:
                background-color var(--element-transition-duration),
                box-shadow var(--element-transition-duration),
                padding 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                justify-content 0.3s cubic-bezier(0.4, 0, 0.2, 1);

            .layout-menuitem-icon {
                margin-right: 0.5rem;
                transition: margin 0.3s cubic-bezier(0.4, 0, 0.2, 1), font-size 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }

            .layout-menuitem-text {
                white-space: nowrap;
                overflow: hidden;
                transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform var(--element-transition-duration), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }

            &.active-route {
                font-weight: 700;
                color: var(--primary-color);
            }

            &:hover {
                background-color: var(--surface-hover);
            }

            &:focus {
                @include focused-inset();
            }
        }

        ul {
            overflow: hidden;
            border-radius: var(--content-border-radius);

            li {
                a {
                    margin-left: 1rem;
                }

                li {
                    a {
                        margin-left: 2rem;
                    }

                    li {
                        a {
                            margin-left: 2.5rem;
                        }

                        li {
                            a {
                                margin-left: 3rem;
                            }

                            li {
                                a {
                                    margin-left: 3.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
